body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:40px;
     background-image: url("https://wallpapers.com/images/hd/ghana-national-flag-rlh5sfa2bl7mupig.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{

    max-width:500px;

    margin:auto;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

}


h1{

    text-align:center;

    color:#8e44ad;

}

p{

    text-align:center;
    font-size: 15px;
    font-style: italic;
}
