body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
     background-image:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("https://wallpapers.com/images/hd/ghana-national-flag-rlh5sfa2bl7mupig.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{

    max-width:500px;

    margin:auto;

    background: rgba(236, 230, 230, 0.92);

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

}


h1{

    text-align:center;

    color:#8e44ad;

}

p{

    text-align:center;
    font-size: 15px;
    font-style: italic;
}
label{

    display:block;

    margin-top:15px;

}

input{

    width:90%;

    padding: 20px;

}

.gender{

    margin-top:12px;
    display :flex;
    align-items: center;
    margin-top: 10px;

}

.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    justify-content:column;
}

input[type="radio"] {
    width: auto;
}
button{

    width:100%;

    padding:12px;

    margin-top:20px;

    background:#8e44ad;

    color:white;

    border:none;

    cursor:pointer;

     transition:0.3s;

}

button:hover{

    background:#6d2c91;

     transform:scale(1.03);
}